:root {
	--first-color: rgb(201, 15, 15);
	--first-alpha-color: #221f1f;
	--white-color: #fff;
	--black-color: #141414;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.mt-1 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-3 {
	margin-top: 3rem;
}
.mt-4 {
	margin-top: 4rem;
}
.mt-5 {
	margin-top: 5rem;
}
@page {
	size: A4;
	margin: 0;
}
@media print {
	html,
	body {
		width: 210mm;
		height: 297mm;
	}
	.header {
		height: 150px;
	}
	.titulo {
		border: 1px solid#eeeeee;
		padding: 0.5%;
		top: -74%;
		color: #ffffff;
		left: 3%;
		width: 56%;
	}
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100&display=swap');
a {
	text-decoration: none;
	color: var(--first-alpha-color);
}
a:hover {
	font-weight: 600;
	text-decoration: underline;
}

.container {
	width: 80%;
	margin: auto;
}
.letter-small {
	font-size: 1rem;
	font-weight: 500;
	color: var(--first-alpha-color);
	text-decoration: none;
}
.h2-subtitle {
	font-size: 1rem;
	font-weight: 800;
	color: var(--black-color);
}
.titulo h1,
.titulo h2,
.titulo p {
	font-family: 'Open Sans', sans-serif;
	color: var(--white-color);
}
.titulo h1 {
	font-size: 2rem;
	font-size: 800;
}
.titulo h2 {
	font-size: 1.5rem;
}
.titulo p {
	font-size: 1rem;
}
.header {
	width: 100%;
	height: 300px;
	clip-path: polygon(
		100% 0px,
		100% 78.6%,
		95.75% 78.61%,
		95.84% 99.24%,
		75.24% 99.24%,
		75.26% 79.94%,
		-0.09% 79.93%,
		0px 0px
	);
	background-color: var(--first-color);
	background-image: repeating-linear-gradient(
			45deg,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8) 100px,
			transparent 0px,
			transparent 200px
		),
		repeating-linear-gradient(
			-45deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5) 100px,
			transparent 0px,
			transparent 200px
		);
	filter: blur(20deg);
}
.header > div {
	position: relative;
}
.header .fondo_header {
	width: 100%;
	height: 80%;
	background-color: grey;
}
.header .foto {
	width: 17%;
	height: 78%;
	left: calc(100% - 17% - 6%);
	top: 15%;
}
.header .foto img {
	width: 100%;
	height: 100%;
}

.titulo {
	border: 1px solid#eeeeee;
	padding: 1.5%;
	top: -68%;
	color: #ffffff;
	left: 3%;
	width: 40%;
}

/****************
    CONTENIDO
****************/
.tarjeta {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.tarjeta-padding {
	padding: 0 9rem;
}
.tarjeta .experiencias,
.estudios {
	flex-basis: 50%;
}
.tarjeta h2 {
	padding: 20px 0px;
}
.tarjeta .habilidades,
.premios {
	flex-basis: 40%;
}

.infos {
	margin: 16px;
}
.info {
	display: flex;
	padding: 0;
}
.info strong {
	width: 25%;
}
.info p {
	width: 75%;
}
.info div {
	width: 75%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.info div p {
	width: 100%;
}
.selector {
	border-bottom: 2px solid var(--black-color);
	width: 90%;
}
.selector .selector_caja {
	width: 20%;
	height: 5px;
	background-color: var(--black-color);
}
.habilidades ul,
.premios ul {
	padding-left: 2rem;
}
.boxe2 {
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.boxe2 .boxe2_div {
	margin: 5px 0px;
	width: 50%;
	background-color: aquamarine;
	background-color: #555555aa;
}

.boxe2 .boxe2_div > div {
	width: 50%;

	height: 100%;
	background-color: black;
}
.seccion-part {
	width: 75%;
	margin: auto;
	display: grid;
	grid-template-columns: 40% 40%;
	/* border: 2px solid green; */
	justify-content: space-between;
}
.seccion-part ul {
	padding: 0 1rem;
}
.seccion-part-iz,
.seccion-part-de {
	/* padding: 0 1rem; */
}
@media (max-width: 900px) {
	.seccion-part {
		width: 85%;
	}
}
@media (max-width: 500px) {
	.seccion-part {
		grid-template-columns: 100%;
		width: 85%;
	}
}
/* ***********
premios
 ************/
.premios > div {
	margin: 10px 0px;
}
/* *********
 interes
  **********/
.interes_div {
	display: flex;
}
.interes_div > div {
	flex-basis: 26%;
}
.interes_div > div ul {
	padding: 0 2rem;
}
/* *********
indiomas
 **********/
.idiomas_div {
	display: flex;
}
.idiomas_div > div {
	flex-basis: 45%;
}
.idiomas_div > div ul {
	list-style: none;
}

/********
 footer
 ********/
.footer {
	margin-top: 2rem;
	width: 100%;
	background-color: var(--black-color);
	color: white;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	/* position: fixed; */
	bottom: 0;
}

.footer_phone a {
	align-items: center;
	display: flex;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.808);
	transition: color 0.3s ease;
	padding: 0.5rem 0;
}
.footer_phone a:hover {
	color: white;
}
/* contactos */
.contact-caja {
	width: 100%;
	display: flex;
	flex-flow: row;
	gap: 0.5rem;
}
.contact-caja i {
	color: #000000;
}
.tarjeta {
	padding: 0 2rem;
}
@media (max-width: 900px) {
	.container {
		width: 95%;
	}
	.header {
		height: 220px;
	}
	.header .foto {
		left: calc(100% - 19% - 5%);
	}
	.titulo {
		width: 59%;
	}
	.info strong {
		width: 26%;
	}
	.tarjeta .experiencias,
	.estudios {
		flex-basis: 50%;
	}
}
@media only screen and (max-width: 600px) {
	.header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
		width: 90%;
		margin: auto;
		margin: 0;
		padding: 0;
		position: static;

		height: 150px;
		clip-path: polygon(0px 0px, 100% 0%, 99.28% 100.66%, 2px 101%);
	}

	.header .foto {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		position: static;
		width: 30%;
		height: calc(70%-200px);
	}
	.header .titulo {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		position: static;

		width: 50%;
		height: calc(20%-200px);
		font-size: 9px;
		padding: 2% 3%;
	}
	.selector {
		width: 90%;
		margin-top: 17%;
	}

	.container {
		font-size: 12px;
	}

	.footer {
		display: none;
	}
	.footer_movil {
		display: block;
		width: 100%;
		height: 30px;
		background-color: #06063a;
		color: white;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
		align-items: center;
		font-size: 10px;
	}
}

@media only screen and (max-width: 375px) {
	.header {
		height: 400px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		height: 300px;
		clip-path: polygon(0px 0px, 100% 0%, 99.28% 100.66%, 2px 101%);
		height: 207px;
	}
	.header > div {
		position: static;
		justify-content: space-evenly;
		display: flex;
		flex-flow: column wrap;
	}
	.header .foto {
		width: 40%;
		height: 50%;
	}
	.header .titulo {
		display: block;
		/* position: relative; */

		width: 100%;
		align-self: flex-start;
		display: flex;

		background-color: #d50000;
	}
	.titulo h1,
	.titulo h2 {
		width: 100%;

		font-size: 0.8rem;
	}
	.selector {
		margin-top: 17%;
	}

	.container {
		font-size: 12px;
	}
	.tarjeta .experiencias,
	.estudios {
		flex-basis: 100%;
	}
	.tarjeta .habilidades,
	.premios {
		flex-basis: 100%;
	}

	.footer {
		display: none;
	}
	.footer_movil {
		display: block;
		width: 100%;
		height: 30px;
		background-color: #06063a;
		color: white;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
		align-items: center;
		font-size: 10px;
	}
}
